{% set supervisor = {
    'Debian': {
        'pip': 'python-pip',
        'package': 'supervisor',
        'config': '/etc/supervisor/supervisord.conf',
    },
} %}

{% set supervisor = salt['grains.filter_by'](supervisor,
    merge=salt['pillar.get']('supervisor:lookup')) %}
